{% extends parent_template|default:"base.html" %}
{% load static %}

{% block content %}
    <div class="row px-3">
        {% for gift in gifts %}
            <div class="card col-12 mb-3">
                <div class="row">
                    <!-- Left Column or Top Line: gift image and caption -->
                    <div class="col-sm-4 col-md-3 pl-0">
                        {% if gift.selected %}
                            <img class="w-100 border border-primary gift-img d-none d-sm-block"
                                 src="{% static gift.get_image_filename %}" alt="Image of {{ gift }}">
                            <h4 class="text-primary">{{ gift }} <a class="d-inline d-sm-none" href="#">See it...</a></h4>
                            <p class="text-primary mx-auto">Selected by {{ gift.receiver_name }}</p>
                        {% else %}
                            <img class="w-100 border border-success gift-img d-none d-sm-block"
                                 src="{% static gift.get_image_filename %}" alt="Image of {{ gift }}">
                            <h4 class="text-success">{{ gift }} <a class="d-inline d-sm-none" href="#">See it...</a></h4>
                            <p class="text-success mx-auto">Unselected</p>
                        {% endif %}
                    </div>

                    <!-- Middle Column or Middle Line: gift clue and comments -->
                    <div class="col-sm">
                        <p class="text-success">{{ gift.description }}</p>
                        {% for comment in gift.get_comments %}
                            {% if comment.user == user %}
                                <p class="comment">
                                    {{ comment.display }}
                                    <a href="{% url 'gift:edit_comment' gift.gift_number comment.pk %}"> (Edit...)</a>
                                </p>
                            {% else %}
                                <p class="comment">{{ comment.display }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>

                    <!-- Third Column or Third Line: Buttons -->
                    <div class="col-sm-3 col-md-2">
                        {% if gift.selected %}
                            <form action="{% url 'gift:change_mind' gift.gift_number %}" method="post">
                                {% csrf_token %}
                                {% if gift.receiver == user %}
                                    <button class="btn btn-outline-success btn-block" type="submit">Change</button>
                                {% else %}
                                    <button class="btn btn-outline-success btn-block" disabled>Select</button>
                                {% endif %}
                            </form>
                        {% else %}
                            <form action="{% url 'gift:select' gift.gift_number" method="post">
                                {% csrf_token %}
                                {% if not user_has_gift %}
                                    <button class="btn btn-outline-success btn-block" type="submit">Select</button>
                                {% else %}
                                    <button class="btn btn-outline-success btn-block" disabled>Select</button>
                                {% endif %}
                            </form>
                        {% endif %}
                        <a class="btn btn-outline-success btn-block"
                                href="{% url 'gift:add_comment' gift.gift_number %}">Remark</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}