@import 'custom.scss';

// SCSS Variables

$color-yellow-gold: #ffdd55;
$color-header-link: rgba(255, 221, 85, 0.8) !important;
$color-header-link-hover: rgba(255, 221, 85, 1.0) !important;

header, footer {
    background: $primary;
    color: $secondary;
}

header a {
    color: $color-header-link;
    text-decoration: none;
}

header a:hover {
    color: $color-header-link-hover;
    text-decoration: none;
}

header img {
    vertical-align: top;
    opacity: 0.9;
}

header img:hover {
    opacity: 1.0;
}

.gift-button {
    width: 100%;
}

.gift-card {
    border: 3px solid;
    border-radius: 1rem;
}

.gift-card img {
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
}

.header-text {
    font-family: 'Great Vibes', cursive;
    font-size: 4rem;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler-icon {
    color: $secondary;
}

