{% extends parent_template|default:"base.html" %}
{% load static %}

{% block content %}
    <div class="card border-success col-md-10 mx-md-auto mb-3 px-0">
        <h2 class="card-header bg-success text-white text-center">
            Vote on the Best Description for {{ object }}.
        </h2>
        <div class="card-body text-success">

            <!-- Image -->
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <img class="img-fluid" src="{% static object.image_filename %}">
                </div>
            </div>

            <!-- Instructions -->
            <h4 class="card-title">Select the description you think is most correct, or at least most convincing:</h4>
            {% if not can_vote %}
                <p>(You have already voted for one of these descriptions.)</p>
            {% endif %}
            <hr>

            <!-- Voting form -->
            {% if error_message %}
                <div class="text-danger">
                    <p><strong>{{ error_message }}</strong></p>
                </div>
            {% endif %}
            <form action="{% url 'whatsit:object_view' object.number %}" method="post">
                {% csrf_token %}
                {% for description in descriptions %}
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="vote" value="{{ description.id }}">
                            {{ description.description }}
                        </label>
                    </div>
                    <hr>
                {% endfor %}
                <div class="row justify-content-around">
                    <button class="btn btn-outline-success btn-lg col-md-4"
                            type="submit" name="button" value="cancel">Return</button>
                    {% if can_vote %}
                        <button class="btn btn-outline-success btn-lg col-md-4"
                                type="submit" name="button" value="save">Vote</button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}