{% extends parent_template|default:"base.html" %}
{% load static %}

{% block content %}
    <div class="card col-md-10 border-success bg-success my-3 px-0">
        <h2 class="card-header text-white">Manage E-mails</h2>
        <div class="card-body bg-white">
            <h4 class="card-title text-success">Select family members to receive the e-mail:</h4>
            <form action="{% url 'mail:send-mail' %}" method="post">
                {% csrf_token %}
                <ul>
                    {% for user in users %}
                        <li class="text-success">
                            <input type="checkbox" class="form-check-input" name="recipients" value="{{ user }}" id="{{ user }}"/>
                            <label class="form-check-label" for="{{ user }}">
                                {{ user.first_name }} {{ user.last_name }}
                            </label>
                        </li>
                    {% endfor %}
                </ul>
            </form>
        </div>
    </div>
{% endblock %}