{% load static %}

{% block header %}

    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-2 d-none d-md-inline">
                    <a href="{% url 'gift:home' %}" class="brand">
                        <img src="{% static 'images/ThreeOrnamentsAlpha.png' %}" class="img-fluid">
                    </a>
                </div>
                <div class="col">
                    <!-- Banner Heading -->
                    <div class="row">
                        <div class="col">
                            <a href="{% url 'gift:home' %}">
                                <h1 class="header-text d-inline">Christmas 2018</h1>
                            </a>
                        </div>
                    </div>
                    <!-- Welcome and Login/Logout Links -->
                    <div class="row align-items-top">
                        <div class="col-6">
                            {% if user.is_authenticated %}
                                <span class="h5">Welcome {{ user.first_name }}!</span>
                                <a class="link" href="{% url 'user:logout' %}">  (Logout)</a>
                            {% else %}
                                <span class="h5">Welcome!</span>
                                <a class="link" href="{% url 'user:login' %}?next={{ request.path_info }}">  (Login)</a>
                            {% endif %}
                        </div>
                        <!-- Menu Links -->
                        <div class="col">
                            <nav class="navbar navbar-light navbar-expand-lg pt-0">
                                <button class="navbar-toggler ml-auto p-0" type="button"
                                        data-toggle="collapse" data-target="#navbarCollapse">
                                    <span class="navbar-toggler-icon pt-1" style="background:none">
                                        <i class="fas fa-bars"></i>
                                    </span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarCollapse">
                                    <ul class="navbar-nav ml-auto text-right">
                                        {% if user.is_staff %}
                                            <li class="nav-item">
                                                <a href="{% url 'mail:manage-mail' %}" class="nav-link">E-mail</a>
                                            </li>
                                        {% endif %}
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">Memories</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">Activities</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">About</a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Memory Block -->
    {% if user.is_authenticated %}
        <div class="container">
            <div class="row">
                {% if memory %}
                    <div class="col memory p-3 m-3">
                            <span>{{ memory.author }}</span>
                            <span>{{ memory }}</span>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}

{% endblock %}
